@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/daisyui.css';



:root {
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;
  min-width: 100vw;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.btn {
  @apply border-primary;
  @apply bg-transparent;
  @apply text-base;
  @apply text-primary;
  @apply font-normal;
  min-height: 1rem;
  height: 2rem;
  @apply px-3;
}

@layer utilities {
  @media (hover: hover) {
    .btn:hover {
      @apply bg-accent text-accent-content border-accent;
    }
  }
}

.collapse {
  @apply border-primary;
  @apply rounded-none;
  @apply bg-transparent;
  @apply border-b;
  @apply border-primary;
}

.navbar {
  @apply border-b-2;
  @apply border-primary;
  padding: 1rem;
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

p {
  @apply text-base;
}


.minusmargin {
  margin-left: -0.8rem;
}

.roundedcard {
  border-radius: 40px;
  border-width: 1px;
}

  /* ANIMATED STRIPES */

  @keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
  }

  @keyframes infiniteScrollrev {
    from {transform: translateX(-50%)}
    to {transform: translateX(0)}
  }

  .containeranimationportfolio {
    width: 100%;
    overflow-x: hidden;
  }
  .horizontalscrollingitems {
    display: flex;
    width: 2600px;
    animation-name: infiniteScroll;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .horizontalscrollingitems__item {
    white-space: nowrap;

  }

  .border-1 {
    border-width: 1px;
  }

a, summary {
  font-size: 1rem;
}

.justify-self-end {
  margin-left: auto;
}

.h-85vh {
  min-height: 85vh;
  height: 85vh;
}

.h-30 {
  max-height: 7.5rem;
}

#projectList-item {
  min-height: 118px;
}

#section-howIWork {
  min-height: 118px;
}

#section-education {
  min-height: 118px;
}

#section-comingUp {
  min-height: 118px;
}

/* Section colors for simply-red theme only 
[data-theme="simply-red"] #section-howIWork {
  background-color: #89dffe;
}

[data-theme="simply-red"] #section-education {
  background-color: #F5C032;
}
*/

#brandasset {
  animation: Swing 7s ease-in-out infinite;
}

@keyframes Swing {
  0% { rotate: 7deg; }
  50% { rotate: -7deg; }
  100% { rotate: 7deg; }
}

.menu-custom {
  margin: 3.5rem 0 0 0;
  padding-top: 1.5rem;
  background-color: white;
  border: 1px solid #89dffe;
  align-items: center;
  min-width: 300px;
  max-width: 300px;
  height: 14rem;
  gap: 8px;
}

.menu-custom a {
  font-size: 2rem;
}
